@import 'tailwindcss';

.archivo-black {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 400;
}
.archivo {
  font-family: 'Archivo', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;
}
.public-sans-500 {
  font-family: 'Public Sans', sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 500;
  font-style: normal;
}

@theme {
  --color-primary-plane: var(--color-zinc-50);
  --color-primary-surface: var(--color-zinc-100);

  --color-primary-border: var(--color-zinc-400);
  --color-secondary-border: var(--color-zinc-200);
}

@layer base {
  html,
  body {
    font-family: 'Public Sans', sans-serif;
    line-height: 1;
    width: 100vw;
    overflow-x: hidden;
    user-select: none;
  }

  div {
    @apply box-border;

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar:horizontal {
      height: 2px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    /* 3. Style the thumb (draggable handle) */
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-zinc-500);
    }
  }

  h1,
  h2,
  h3 {
    font-family: 'Archivo Black', sans-serif;
  }

  p,
  span,
  input,
  label {
    @apply text-sm text-zinc-800;
  }

  select {
    @apply text-sm px-0 py-0 border border-zinc-600 rounded-sm;
  }
  input {
    @apply text-sm px-0 py-0 border-b border-zinc-600;
  }

  button {
    @apply text-sm font-bold px-1.5 py-0.5 border border-zinc-600 rounded-sm cursor-pointer hover:bg-zinc-200;

    &:disabled {
      @apply cursor-none;
    }
  }
}

.home-surface-root {
  @apply flex flex-col gap-4 p-3 h-full w-full overflow-x-hidden overflow-y-auto bg-primary-surface;
}
